<div class="my-tasks ng-cloak" ng-controller="TasksCtrl as tasks">
    <h4>Tasks</h4>
    <div ng-if="results.tasks.length" ng-init="selected = null">
        <ul class="list-group tasks">
            <li class="list-group-item"
            ng-style="{'text-decoration': task.completed? 'line-through' : ''}"
            ng-class="{'active': task == tasks.selected }"
            ng-repeat="task in results.tasks track by $index"
            ng-click="tasks.selected = task == tasks.selected? null : task">
                <input type="checkbox" ng-model="task.completed"> {{ $index + 1 }} - {{task.title}}
                <span class="close" ng-click="remove(task)">&times;</span>
            </li>
        </ul>
        <div> Completed: {{ completed() }}</div>
    </div>
    
    <div ng-if="!results.tasks.length">No tasks</div>

    <input type="text" class="title" ng-keyup="$event.keyCode == 13 && addTask()" ng-model="taskName"> {{taskName}}

    <button class="add" ng-click="addTask()">Add</button>
    <button class="add" ng-click="refresh()">Refresh</button>
</div>