<div ng-controller="directivesCtrl">
    <h3>Directives</h3>


    <input type="range" min="50" max="53" step="0.1" ng-model="lat">
    <input type="range" min="18" max="22" step="0.1" ng-model="lng">
    <input type="range" min="6" max="16" step="1" ng-model="zoom">

    <geo-map lat="lat" lng="lng" zoom="zoom"></geo-map>

    {{lat}}, {{lng}}, {{zoom}}
    <hr>

    <input ng-model="user.name">

    <user-card 
        title="User card"
        user="user"
        on-select="choose($event)">
    </user-card>
    
    <user-card 
        title="Friend card"
        user="friend"
        on-select="choose($event)"> 
    </user-card>

    <user-card ng-if="selected"
        title="Selected card"
        user="selected"
        on-select="choose()"> 
    </user-card>

    <!-- <div class="user-card">Test Class</div>
    
    <div user-card="">Test Attr</div> -->


</div>