<div class="row">
<div class="col">
    <h5>Users List</h5>

    <ui-view name="list"></ui-view>
</div>
<div class="col">
    <h5>User Form</h5>
    
    <ui-view name="details"></ui-view>
    
</div>
</div>