<style>
    form .ng-invalid.ng-touched,
    form .ng-invalid.ng-dirty{
        border:1px solid red !important;
    }

</style>

<form name="$ctrl.form" 
    novalidate
    ng-submit="$ctrl.save()">


<div class="form-group">
    <label for="">Name</label>
    <input type="text" name="name" ng-model="$ctrl.user.name" class="form-control" required>

    <div ng-if="$ctrl.form.name.$touched || $ctrl.form.name.$dirty">
        <div ng-if="$ctrl.form.name.$error.required">
            Field is required
        </div>
    </div>

</div>
<div class="form-group">
    <label for="">E-mail</label>
    <input type="email" name="email" ng-model="$ctrl.user.email" class="form-control" required>

    <div ng-if="$ctrl.form.email.$touched || $ctrl.form.email.$dirty">
        <div ng-if="$ctrl.form.email.$error.required">
            Field is required
        </div>
        <div ng-if="$ctrl.form.email.$error.email">
            Bad email format
        </div>
    </div>
        
</div>


<div class="form-group">
    <input type="button" ng-click="$ctrl.cancel()" value="Cancel">
    <input type="submit" value="Save">
</div>

</form>