<div class="list-group">
    <div class="list-group-item"
    ng-class="{
        active: $ctrl.selected == user   
    }"
    ng-repeat="user in $ctrl.users"
    ng-click="$ctrl.select(user)">
        {{::user.name}}    

    <span class="close" ng-click="$ctrl.remove(user); $event.stopPropagation()">&times;</span>
    </div>
</div>



<!-- class Parent{

    child = new Child(this.user)
}

class Child extends CosInnego{

    do(){
        ??parent??.
    }
} -->