<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
    /* Hide angular when loading */
    .ng-cloak{display: none;}
    /* .ng-scope {
        outline: 1px dashed blue;
        padding: 1em;
    } */
    /* angular.element($0).scope() */
    </style>
</head>

<body ng-app="app-module">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Szkolenie Angular</h1>
                
                <ul class="nav nav-tabs" ng-init=" view = 'tasks/tasks.tpl.html' ">
                    <li class="nav-item">
                        <a ng-click=" view = 'tasks/tasks.tpl.html' " class="nav-link">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a ng-click=" view = 'people/people.tpl.html' " class="nav-link">People</a>
                    </li>
                </ul>
            
                <div ng-include=" 'src/app/' + view "></div>
            
            </div>
        </div>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="src/app/app.module.js"></script>
    <script src="src/app/people/people.ctrl.js"></script>
    <script src="src/app/tasks/tasks.service.js"></script>
    <script src="src/app/tasks/tasks.ctrl.js"></script>
</body>

</html>