<h4>People</h4>

<div ng-controller="Person as parent">
    <h3>Parent</h3>

    <input ng-model="parent.name">
    Name: {{parent.name}}
    Name: {{child.name}}

    <div ng-controller="Person as child">
        <h3>Child</h3>
            
        <input ng-model="child.name">
        Parent: {{parent.name}}
        <br/>
        Name: {{child.name}}
    </div>

</div>